<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639891194417-q6tel3vki4sf3mplgkhoq6fus0u2s0ae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639891194417-q6tel3vki4sf3mplgkhoq6fus0u2s0ae</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>639891194417-1ajg32jipjmcjb89vk2kbai22kjbp9lj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD0H6HPLBuWTf4Tpr4bY4PsvdEfG5X5LFM</string>
	<key>GCM_SENDER_ID</key>
	<string>639891194417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.czechMobile</string>
	<key>PROJECT_ID</key>
	<string>czech-itsea</string>
	<key>STORAGE_BUCKET</key>
	<string>czech-itsea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639891194417:ios:01b3b48cdebdfd6615cb10</string>
</dict>
</plist>